html {
    background-color: #1200b0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    font-size: 100%
}
blockquote{
    font-size: 70%;
}

.Großmutter{
    font-size: 140%;
    color: #ffff00;
    font-weight: bold;
}